<!DOCTYPE html>
<html>
	<head>
		<!-- Font Awesome Start-->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<!-- Font Awesome End -->
		
		<!-- Google Fonts Start-->
		<link href="https://fonts.googleapis.com/css?family=Bebas+Neue|Oswald&display=swap" rel="stylesheet">
		<!-- Google Fonts End -->
		
		<!-- CSS Start-->
		<link rel="stylesheet" type="text/css" href="style.css">
		<link rel="stylesheet" type="text/css" href="admin.css">
		<!-- CSS End -->
		
		<title>USC Events | Admin Section - Manage Volunteers</title>
	</head>
	<body>
		<!-- NavBar Start -->
		<header>
			<div class="logo">
				<h1 class="logo-text"><span class=fir>USC</span>&nbsp;<span class="sec">EVENTS </span><i class="fa fa-calendar"></i></h1>
			</div>
			<i class="fa fa-bars menu-toggle"></i>
			<ul class="nav">
				<% if(currentRegister.type=="Admin") { %>
					<li><a href="/index">Home</a></li>
					<li>
						<a href="#">
							<i class="fa fa-user"></i> <%= currentRegister.username %> <i class="fa fa-chevron-down" style="font-size: 0.8em;"></i>
						</a>
						<ul>
							<li><a href="/createpostsindex">Dashboard</a></li>
							<li><a href="/" class="logout">Logout <i class="fa fa-sign-out"></i></a></li>
						</ul>
					</li>
				<% } else { %>
					<li><a href="/index">Home</a></li>
					<li>
						<a href="#">
							<i class="fa fa-user"></i> <%= currentRegister.username %> <i class="fa fa-chevron-down" style="font-size: 0.8em;"></i>
						</a>
						<ul>
							<li><a href="/" class="logout">Logout <i class="fa fa-sign-out"></i></a></li>
						</ul>
					</li>
				<% } %>
			</ul>
		</header>
		<!-- NavBar End -->
		
		<!-- Admin Page Wrapper Start-->
		<div class="admin-wrapper">
			
			<!-- Left Sidebar Start -->
			<div class="left-sidebar">
				<ul>
					<li><a href="/createpostsindex">Manage Posts</a></li>
					<li><a href="/createvolunteersindex">Manage Volunteers</a></li>
				</ul>
			</div>
			<!-- Left Sidebar End -->
			
			<!-- Admin Content Start -->
			<div class="admin-content">
				<div class="content">
					<h2 class="page-title">Manage Volunteers</h2>
					<table>
						<head>
							<!-- <th>ID</th> -->
							<th>USC ID</th>
							<th>FN</th>
							<th>LN</th>
							<th>DEPT</th>
							<th>COURSE</th>
							<th>YEAR</th>
							<th>EMAIL</th>
							<th>CONTACT</th>
							<th>EVENT</th>
							<th>ROLE</th>
							<th>ACTION</th>
						</head>
						<% volunteer.forEach((volunteers) => { %>
							<tbody>
								<tr>
									<!-- <td><%= volunteers._id %></td> -->
									<td><%= volunteers.idnumber %></td>
									<td><%= volunteers.firstname %></td>
									<td><%= volunteers.lastname %></td>
									<td><%= volunteers.department %></td>
									<td><%= volunteers.course %></td>
									<td><%= volunteers.year %></td>
									<td><%= volunteers.email %></td>
									<td><%= volunteers.contact %></td>
									<td><%= volunteers.eventname %></td>
									<td><%= volunteers.role %></td>
									<td>
										<form action="/createvolunteersindex/<%= volunteers._id %>?_method=delete" method="post">
											<button class="delete">Decline</button>
										</form>
									</td>
								</tr>
							</tbody>
						<% }); %>
					</table>
				</div>
			</div>
			<!-- Admin Content End -->
		
		</div>
		<!-- Admin Page Wrapper End -->
		
		<!-- JQuery Start-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<!-- JQuery End -->
		
		<!-- Javascript Start-->
		<script src="script.js"></script>
		<!-- Javascript End -->
	</body>
</html>